**Değişken Tanımlama Kuralları**
---


Değişken ismi solda, değişkenin değeri sağda yazılır | isim = "Eyüp"




Değişkenler sayı ile başlayamaz. | 5 12 gibi




Değişkenler özel karakterlerle başlayamaz | ? ! vb.


Değişken isimleri Türkçe karakter




Değişkenlerin adı pythonda kullanılan kelimelerden seçilemez. | print = "asd" veya not = 77 Doğru bir kullanım DEĞİLDİR.

In [1]:
isim = "Eyüp"
yas = 20

Ekrana yazı yazdırmak için **print()** fonksiyonu kullanılır.
---


print("deneme") bu print fonksiyonun çıktısı ***deneme*** olacaktır.

print(isim) bu print fonksiyonun çıktısı ***Eyüp*** olacaktır.

In [2]:
print("deneme")
print(isim)

deneme
Eyüp

Bu iki kullanımı birleştirip aşağıdaki gibi kullanabilirsiniz

In [3]:
print("Benim Adım",isim,"Benim Yaşım",yas)

Benim Adım Eyüp Benim Yaşım 20

Değişken belirterek kullandığımız print fonksiyonunu format fonksiyonu ile birleştirip aşağıdaki gibi de kullanabiliriz.



"{}" ile belirtilen yerlere format fonksiyonu içersinde yazan değişkenler sırasıyla yerleşir.

In [4]:
print("Benim Adım {} Benim Yaşım {}".format(isim,yas))

Benim Adım Eyüp Benim Yaşım 20

Günlük kullanımda da olduğu gibi sayılar ve kelimeler(cümle ile kelime aynı şekilde kullanılır.) pythonda da farklıdır.
---
kelime = "Bu bir cümledir."

---


sayi = 14


---

sayi2 = "15"

In [12]:
kelime = "Bu bir cümledir"
sayi = 14
sayi2 = "15"
sayi3 = 13.0

type() fonksiyonunu kullanarak değişkenlerin tipini öğrenebilir.
---

In [13]:
print(type(kelime))
print(type(sayi))
print(type(sayi2))
print(type(sayi3))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>

str String'in kısaltmasıdır.
---



" " içerisinde tanımlanan değişkenler string tipindedir.

" " içersinde sayı olsa bile bu değişken yine stringtir.


---


int Integer'ın kısaltmasıdır.
---
" " işarti kullanmadan tanımlanan değişkenler sayıdır.
sayılar da kendi aralında ayrılırlar.

int tam sayılar için kullanılır.

float ondalık sayılar için kullanılır.

**Operatörler**
---

Toplama işlemi +

Çıkarma İşlemi -

Çarpma  İşlemi *

Bölme İşlemi /

Mod İşlemi %

Sayılar(Hepsi) ve Kelimeler(Çarpma ve Toplama) ile yukarıdaki operatörler kullanılarak işlemler yapılabilir.

In [26]:
print(sayi)       #değişkenin değeri
print(type(sayi)) #değişkenin tipini öğrenip ona göre işlem yapıyoruz.
print(sayi*5)     #14'ün 5 ile çarpımı
print(sayi/3)     #14'ün 3 ile bölümü
print(sayi+7)     #14'ün 7 ile toplamı
print(sayi-4)     #14'ün 4 ile farkı
print(sayi%2)     #14'ün 2 ile bölümünden kalan

14
<class 'int'>
70
4.666666666666667
21
10
0

In [25]:
print(sayi2)        #değişkenin değeri
print(type(sayi2))  #değişkenin tipini öğrenip ona göre işlem yapıyoruz. yukarıda " " içerisinde tanımladığımız için değişken str tipindedir.
print(sayi2*7)      #15'i str olduğu için 7 ile çarpmak yerine 7 kere yan yana yazıyor
print(sayi2+sayi2)  #15'i str olduğu için yan yana 2 defa yazıyor.

15
<class 'str'>
15151515151515
1515

Sayı olan ama " " içerisinde yazılan string değerleri int ya da float tipine 
çevirebilirz ve diğer matematik işlemlerini de kullanabiliriz.

integer'a çevirmek için int() fonksiyonunu kullanacağız.

"15" bir string değerdir. int fonksiyonu ile "15"'i integer bir değer yapacağız.

In [30]:
print(type(sayi2))  #değişkenin ilk tipini kontrol ediyoruz.
sayi2 = int(sayi2)  #int fonksiyonu ile str olan "15"'i sayı olan 15'e çeviriyoruz ve sayi2 değişkenine bu değeri tanımlıyoruz.
print(type(sayi2))  #değişkenin yeni tipini kontrol ediyoruz.

<class 'str'>
<class 'int'>

In [33]:
print(sayi2)       #değişkenin değeri
print(type(sayi2)) #değişkenin tipini öğrenip ona göre işlem yapıyoruz.
print(sayi2*5)     #15'ün 5 ile çarpımı
print(sayi2/3)     #15'ün 3 ile bölümü
print(sayi2+7)     #15'ün 7 ile toplamı
print(sayi2-4)     #15'ün 4 ile farkı
print(sayi2%2)     #15'ün 2 ile bölümünden kalan

15
<class 'int'>
75
5.0
22
11
1

In [29]:
isim = "Hasan "
isim2 = "Kalyoncu"
print(isim*2)
print(isim+isim2)

Hasan Hasan
Hasan Kalyoncu

Buraya kadar hep değişkenlerin değerlerini kendimiz yazarak belirledik.

Şimdi bu bilgileri kullanıcadan almak için input() fonksiyonunu kullanacağız.

In [34]:
isim = input("İsminizi Giriniz -> ")
yas = int(input("Yaşınızı Giriniz -> "))

print("Benim Adım",isim,"Benim Yaşım",yas)
print("Benim Adım {} Benim Yaşım {}".format(isim,yas))

İsminizi Giriniz -> Eyüp
Yaşınızı Giriniz -> 20
Benim Adım Eyüp Benim Yaşım 20
Benim Adım Eyüp Benim Yaşım 20